<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Shevar Roulston</h1>
 <p>I am a dedicated Computer Science student at the University of the West Indies who is hardworking, creative, and driven to succeed. 
    I enjoy solving problems, exploring new hobbies, and continuously developing skills such as critical thinking. 
    My curiosity pushes me to keep learning, expand my knowledge, and stay up to date with advancements in the technology field. 
    I take pride in being reliable, persistent, and adaptable—qualities that help me overcome challenges and achieve both my academic and personal goals.</p>
</body>
</html> 